/*FOOTER**/
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  
    
  }
  
  .pie p{
    color: white;
    padding-left: 101px;
   
  }
  
  .pie img{
    padding-right: 101px;
  }
  /*FIN DE FOOTER*/